<h2 class="all-files-header">All files</h2>
<ul class="files-menu">
  <% @files.each do |file| %>
    <a href="/<%= file %>">
      <li class="files-menu-item">
        <%= file %>
      </li>
    </a>
  <% end %>
</ul>