<h2 class="all-files-header">All files</h2>
<ul class="files-menu">
  <% @files.each do |file| %>
    <li class="files-menu-item">
      <a class="file-item" href="/<%= file %>"><%= file %></a>
      <a class="file-item-edit" href="/<%= file %>/edit">Edit</a>
      <form class="file-delete-item" action="/<%= file %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
    </li>
  <% end %>
</ul>
<a class="new_document_link" href="/new">New Document</a>

<% if session[:user] %>
  <div>
    <form action="/users/signout" method="post">
      <p class="user-status">
        Signed in as admin.
        <input type="submit" value="Sign Out">
      </p>
    </form>
  </div>
<% else %>
  <a href="/users/signin">Sign In</a>
  <a href="/users/signup">Sign up</a>
<% end %>