<!doctype html>
<html lang="en-US">
  <head>
    <title>CMS project</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <% if session[:error] %>
      <div class="flash error">
        <p><%= session.delete(:error) %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>