<form class="signin" action="/users/signup" method="post">
  <div class="div-username">
    <label for="username">Username:</label>
    <input id="username" name="username" type="text" value="">
  </div>
  <div class="div-password">
    <label for="password">Passowrd:</label>
    <input id="password" name="password" type="password">
  </div>
  <input class="sign-up-btn" type="submit" value="Create new user"> 
</form>